body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow-x:hidden;
}
.mobilebutton button {
    display: none;
}
header{
    background-color: #FFF;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.box_header {
    width: 1057px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_header a img  {
    width: 64px;
    height: 64px;
    margin-left: -20px;
}
.box_header img {
    width: 43px;
    height: 27px;
    cursor: pointer;
}



.box_loading{
    width: 100vw;
    height: 4px;
    background-color: rgba(58, 203, 199, 0.60);
}
.loading{
    width: 17%;
    height: inherit;
    background-color: #0096DC;
}






.section_home{
    margin-top: 74px;
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.image_home_section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    margin-top: inherit;
    background-image: url(./images/HomeImage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition:background-size 5s;
    -webkit-transition: scale 1s;
    z-index: -1;
    scale: 110%;
}
.section_home:hover .image_home_section {
    scale: 100%;
}

.filter_home {
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.31);
    display: flex;
    justify-content: center;
}
.home_box_container{
    width: 1057px;
    height: 626px;
    flex-direction: column;
}
.home_box_container h1 {
    font-size: 80px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.44);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
.home_box_container p {
    width: 523px;
    margin-top: -40px;
    color: #FFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.70);
    font-family: Poppins;
    font-size: 36px;
    font-weight: 300;
    line-height: normal;
}

.container_home {
    width: auto;
    height: 290px;
    display: flex;
    align-items: center;
}
.container_home .text_home{
    width: 1034px;
}
.container_home h2 {
    margin-left: 433px;
    transform: rotate(-90deg);
    height: 23px;
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.home_box_container .home_networks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 60px;
    margin-top: 220px ;
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
}
.home_networks img {
    width: 33px;
    height: 33px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.122));
}
.home_networks a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.home_networks h1  {
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    margin-left: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.122);
}






/* Seção descubra mais*/








.division_section {
    width: 100%;
    height: auto;
    margin-top: -70px;
    z-index: 1;
}
.division_section img{
    width: inherit;
    height: 75px;
}







.section_find_out_more{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #3ACBC7 0%, #0096DC 100%);
}

.section_find_out_more .container{
    width: 1057px;
    display: flex;
    padding-top: 50px;
    margin-bottom: 140px;
}
.section_find_out_more .left_side {
    flex: 1;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_find_out_more .left_side .slide_image_box {
    width: 500px;
    height: 380px;
    margin-top: 63px;
    border-radius: 2px;
    background-image: url(./images/HomeImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -5px 10px 13px rgba(0, 0, 0, 0.68);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_find_out_more .left_side .slide_image_box .arrow_left{
    width: 36px;
    height: 65px;
    background-color: #0000008A;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_find_out_more .left_side .slide_image_box .arrow_right{
    width: 36px;
    height: 65px;
    background-color: #0000008A;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_1, .arrow_2{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border-left: 6px solid white;
    border-top: 6px solid white;
}

.arrow_1{
   transform: rotate(-45deg);
   margin-left: 10px;
}
.arrow_2{
    transform: rotate(135deg);
    margin-right: 10px;
}











.section_find_out_more .left_side h1 {
    width: 351.732px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}
.section_find_out_more .left_side .line-green {
    width: 134px;
    height: 2px;
    border-radius: 5px;
    background-color: #3ACBC7;
    margin-top: -20px;
}
.section_find_out_more .left_side p {
    width: 412px;
    color: #E0F5F8;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}











.section_find_out_more .right_side {
    flex: 1;
    margin: 0px 0px 0px 0px;
    padding-left: 60px;
}

.section_find_out_more .right_side h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
}
.section_find_out_more .right_side p {
    width: 510px;
    margin-top: -20px;
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 42px;
    font-weight: 500;
}
.section_find_out_more .right_side button {
    width: 275px;
    height: 80px;
    border-radius: 9px;
    background: linear-gradient(90deg, #0096DC 0%, #3ACBC7 100.09%);
    border: none;
    box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.25);
    margin-top: 50px;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}






/* Seção Acomodações*/
.divison_section_acomodation {
    width: 100%;
    height: auto;
    margin-top: -139px;
}
.divison_section_acomodation img{
    width: inherit;
    height: 140px;
}


.section_accommodation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_accommodation .container {
    margin-top: 10px;
    width: 1057px;
    display: flex;
    background-color: white;
    margin-bottom: 100px;
}


.section_accommodation .container .show_accomodation {
    flex: 1;
    margin: 0px 30px 0px 0px;
}
.section_accommodation .container .show_accomodation h1 {
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(91deg, #3ACBC7 14.88%, #0096DC 86.62%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section_accommodation .container .show_accomodation p {
    color: rgba(0, 150, 220, 0.80);
    width: 553px;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -20px;
}
.section_accommodation .container .show_accomodation button {
    width: 275px;
    height: 80px;
    border-radius: 9px;
    background: linear-gradient(90deg, #0096DC 0%, #3ACBC7 100.09%);
    border: none;
    box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.25);
    margin-top: 50px;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}



.section_accommodation .container .box_images {
    flex: 1;
    margin: 0px 30px 0px 30px;
    margin-top: 260px;
    margin-bottom: 100px;
}
.section_accommodation .container .box_images .image_1 {
    width: 448px;
    height: 634px;
    border-radius: 8px;
    background: url(./images/image1.jpeg), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: -5px 10px 13px 0px rgba(0, 0, 0, 0.68);
}
.section_accommodation .container .box_images .image_2 {
    width: 487px;
    height: 395px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(./images/image2.jpeg), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;

    box-shadow: -5px 10px 13px 0px rgba(0, 0, 0, 0.68);
    margin-left: -300px;
    margin-top: -345px;
    
}


















/* Seção Diversão */
/* Seção Diversão */
/* Seção Diversão */
/* Seção Diversão */
/* Seção Diversão */
/* Seção Diversão */
/* Seção Diversão */

















.section_divertissement{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #0499DC 0%, #3AB1CB 41.67%, #0499DC 100%);
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.25);
}
.division_section_divertissement {
    width: 100%;
    margin-top: -217px;
}
.division_section_divertissement img {
    width: inherit;
    height: 220px;
}





.section_divertissement .container {
    width: 1057px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_divertissement{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.text_divertissement h1{
    width: 352px;
    color: #FFF;
    font-family: Poppins;
    font-size: 67px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text_divertissement p {
    color: rgba(255, 255, 255, 0.85);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -30px;
}


.container_informations {
    min-width: 100%;
    padding: 20px 0px 20px 0px;
}
.informations_box{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 40px 0px;

}
.informations_box:nth-child(even) {
    flex-direction: row-reverse;
}
.informations_box .image_informations img{
    width: 500px;
    height: 328px;
    background-color: black;
    object-fit:cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.informations_box .text_box_informations {
    width: 500px;
    height: 328px;
}

.informations_box .text_box_informations h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -10px;
}
.informations_box .text_box_informations p {
    color: rgba(255, 255, 255, 0.85);

    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -20px;

    width: 444px;
}
.informations_box .text_box_informations .line_information {
    width: 303px;
    height: 1px;
    background-color: white;
    margin-top: -15px;
}

.section_divertissement button{
    width: 295px;
    height: 80px;
    border-radius: 9px;
    background: linear-gradient(90deg, #3ACBC7 0%, #0096DC 100.09%);
    box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.25);
    border: none;

    color: #FFF;

    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;

    margin-bottom: 50px;
    display: none;
}
.line_more {
    width: inherit;
    height: 2px;
    background-color: #ffffff86;
    margin-bottom: 50px;
}












/* Perguntas Frequentes */

.section_questions_and_answers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.section_questions_and_answers .container {
    width: 1057px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_questions_and_answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_questions_and_answers h1 {
    color: #0096DC;
    text-align: center;
    font-family: Poppins;
    font-size: 67px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text_questions_and_answers p {
    color: rgba(0, 150, 220, 0.85);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -40px;
    margin-bottom: 130px;
}


.container_questions {
    width: 100%;
    margin-bottom: 150px;
}
.box_question {
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    border-radius:10px;
    margin-bottom: 5px;
}
.box_question.active {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.509);
}
@media(min-width: 767px) {
    .box_question:hover{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.509);
    }    
}

.box_question p {
    color: #333;
    text-align: center;
    font-family: Radio Canada;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.box_question img {
    width: 25px;
    height: 25px;
    transition: 0.5s;
}

.answer {
    margin-left: 30px;
    font-size: 20px;
    display: block;
    transition: 0.5s;
    opacity: 0%;
    margin-top: -20px;
}











/* Localização */

.section_location {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0096DC;
}
.section_location .container_one, .container_two {
    width: 1057px;
}

.text_location h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 67px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text_location p {
    max-width: 1057px;
    color: rgba(255, 255, 255, 0.85);

    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mapBox {
    width: 100vw;
    height: 700px;
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.mapBox iframe {
    width: inherit;
    height: inherit;
}
.container_two {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 45px;
}
.container_two h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.buttons_location {
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px 80px 0px;
}
.buttons_location h2 {
    color: #FFF;

    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button_uber,.button_waze {
    width: 233px;
    height: 63px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}
.button_uber img,.button_waze img{
    width: 45px;
    margin-right: 25px;
}
.button_uber h1,.button_waze h1 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}








/* Foooter */

footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .container {
    width: 1057px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_box {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    margin: 44px 0px 44px 0px;
}
.footer_box .logo img {
    width: 224px;
    height: 92px;
}
.footer_redes {
    display: flex;
}
.footer_redes a {
    display: flex;
    text-decoration: none;
}
.footer_button {
    width: 180px;
    height: 40px;
    margin-left: 22px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_button img {
    width: 39px;
    height: 39px;
    margin-right: 22px;
}
.footer_button h1 {
    color: #555;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.copyright_box {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 0px 0px;
    width: 1057px;
    
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    border-top: 0.5px solid #0499DC;

}
.copyright_box span {
    color: #0499DC;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}







@media (max-width:1140px) {
    body{
        overflow-x: hidden;
    }
    .box_header{
        width: 800px;
    }
    .section_home {
        height: 500px;
    }
    .home_box_container{
        width: 800px;
    }
    .home_box_container .text_home h1 {
        font-size: 60px;
    
    }
    .home_box_container p {
        width: 400px;
    }
    .container_home h2{
        margin-left: 300px
    }
    .home_box_container .home_networks {
        margin-top: 50px;
    }



    .section_find_out_more .container{
        width: 800px;

    }
    .section_find_out_more .right_side {
        padding-left: 40px;
    }
    .section_find_out_more .right_side h1 {
        font-size: 40px;
    }
    .section_find_out_more .right_side p {
        width: 320px;
        font-size: 30px;
        
    }

    .section_find_out_more .left_side .slide_image_box {
        width: 410px;
        height: 280px;
        margin-top: 40px;
    }
    .section_find_out_more .left_side h1 {
        font-size: 30px;
    }
    .section_find_out_more .left_side p {
        font-size: 18px;
    }
    .section_find_out_more .right_side button {
        width: 201px;
        height: 70px;
    }





    .section_accommodation .container {
        width: 800px;
        padding: 0px 40px 0px 40px;
    }
    .section_accommodation .container .show_accomodation{
        flex: none; 
    }
    .section_accommodation .container .show_accomodation button {
        width: 201px;
        height: 70px;
    }
    .section_accommodation .container .show_accomodation h1 {
        font-size: 40px;
    }
    .section_accommodation .container .show_accomodation p {
        width: 320px;
        font-size: 30px;
    }
    .section_accommodation .container .box_images{
        flex: none;
        width: 400px;
        display: flex;
        align-items: end;
        flex-direction: column;
        margin-top: 45px;
    }
    .section_accommodation .container .box_images .image_1 {
        width: 252px;
        height: 357px;
    }
    .section_accommodation .container .box_images .image_2 {
        width: 333px;
        height: 270px;

        margin-right: 120px;
        margin-top: -90px;
    }





 
    /* Restante */

    .section_divertissement .container {
        width: 800px;
    }
    .text_divertissement h1 {
        font-size: 40px;
    }
    .text_divertissement p {
        font-size: 30px
    }
   
    .informations_box .image_informations img {
        width: 400px;
        height: 250px;
    }
    .informations_box .text_box_informations{
        width: 300px;
    }
    .informations_box .text_box_informations h1 {
        font-size: 30px;
    }
    .informations_box .text_box_informations p {
        width: 350px;
        font-size: 20px;
        height: auto;
        margin-top: -1px;
        margin-bottom: 35px;
    }
    .section_divertissement button{
        width: 201px;
        height: 70px;
    }

    .section_questions_and_answers .container {
        width: 800px;
    }

    .text_questions_and_answers h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .text_questions_and_answers p {
        font-size: 30px;
    }

    .box_question p {
        font-size: 20px;
    }
    .answer {
        font-size: 18px;
    }
    






    .section_location .container_one, .container_two {
        width: 800px;
    }
    .text_location h1 {
        font-size: 40px;
    }   
    .text_location p {
        font-size: 30px;
    }

    .mapBox {
        height: 500px;
    }
    .container_two {
        margin-top: 10px;
    }

    
    .button_uber, .button_waze {
        width: 150px;
        height: 43px;   
    }
    .button_uber img, .button_waze img {
        width: 27px;
        margin-right: 8px;
    }
    .button_uber h1, .button_waze h1 {
        font-size: 25px;
    }
    .buttons_location {
        width: 467px;
        margin: 10px 0px 40px 0px;
    }



    footer .container {
        width: 800px;
    } 
    .copyright_box {
        width: 800px;
    }
    .footer_box {
        margin: 10px 0px 10px 0px;
    }
    .footer_box .logo img {
        width: 176px;
        height: 89px;
    }
    .footer_redes {
        width: 450px;
    }
    .footer_button {
        width: 150px;
    }
    .footer_button h1 {
        font-size: 10px;
    }
    .footer_button img {
        width: 30px;
        height: 30px;
        margin-right: 9px;
    }

    .copyright_box {
        font-size: 10px;
    }
    .copyright_box span {
        font-size: 10px;
    }
}

@media (max-width:896px) {
    body{
        overflow-x: hidden;
    }
    .box_header a img  {
        width: 50px;
        height: 50px;
        margin-left: -20px;
    }
    .box_header img {
        width: 37px;
        height: 21px;
        cursor: pointer;
    }
    .box_header{
        width: 500px;
    }
    .section_home {
        height: 400px;
    }
    .home_box_container{
        width: 500px;
    }
    .home_box_container .text_home h1 {
        font-size: 50px;
    
    }
    .home_box_container p {
        width: 400px;
        font-size: 30px;
    }
    .container_home h2 {
        margin-left: 2px;
    }
    .home_box_container .home_networks {
        margin-top: -30px;
    }
    .home_box_container .home_networks img {
        width: 24px ;
        height: 24px ;
    }
    .home_box_container .home_networks h1 {
        font-size: 10px;
    }

    .image_home_section {
        scale: 100%;
    }

    .section_find_out_more .container{
        width: 500px;
        flex-direction: column-reverse;
    }
    .section_find_out_more .right_side {
        padding-left: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -50px;
    }
    .section_find_out_more .right_side h1 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .section_find_out_more .right_side p {
        width: 320px;
        font-size: 18px;
        
    }

    .section_find_out_more .left_side .slide_image_box {
        width: 410px;
        height: 280px;
        margin-top: 40px;
    }

    .section_find_out_more .left_side h1 {
        font-size: 27px;
    }
    .section_find_out_more .left_side p {
        font-size: 18px;
    }
    .section_find_out_more .right_side button {
        display: none;
    }

    .section_find_out_more .container{
        margin-bottom: 59px;
    }


    .mobilebutton button {
        display: block;
        width: 150px;
        height: 50px;
        border-radius: 9px;
        background: linear-gradient(90deg, #0096DC 0%, #3ACBC7 100.09%);
        border: none;
        box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.25);
        margin-top: 0px;
        margin-bottom: 20px;

        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        cursor: pointer;
    }


    .section_accommodation .container {
        width: 500px;
        padding: 0px 40px 0px 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section_accommodation .container .show_accomodation{
        flex: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px;
    }
    .section_accommodation .container .show_accomodation button {
        display: none;
    }
    .section_accommodation .container .show_accomodation h1 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .section_accommodation .container .show_accomodation p {
        width: 210px;
        font-size: 18px;
    }
    .section_accommodation .container .box_images{
        flex: none;
        width: 430px;
        display: flex;
        align-items: end;
        flex-direction: column;
        margin: 45px 0px 50px 0px;
    }
    .section_accommodation .container .box_images .image_1 {
        width: 200px;
        height: 300px;
    }
    .section_accommodation .container .box_images .image_2 {
        width: 270px;
        height: 200px;

        margin-right: 162px;
        margin-top: -159px;
    }
    .divison_section_acomodation {
        margin-top: -74px;
    }
    .divison_section_acomodation img{
        height: 75px;
    }



    /* Restante */

    .section_divertissement .container {
        width: 580px;
    }
    .text_divertissement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text_divertissement h1 {
        font-size: 30px;
        margin-bottom: 25px;
        text-align: center;
    }
    .text_divertissement p {
        font-size: 18px;
        text-align: center;
    }

    .informations_box, .informations_box:nth-child(even) {
     flex-direction: column;
     align-items: center;
    }
    .informations_box .image_informations img {
        width: 400px;
        height: 250px;
        margin-bottom: 20px;
    }
    .informations_box .text_box_informations{
        width: 300px;
        height: auto;
        text-align: center;
    }
    .informations_box .text_box_informations h1 {
        font-size: 30px;
    }
    .informations_box .text_box_informations p {
        width: 300px;
        font-size: 20px;
        height: auto;
        margin-top: -1px;
        margin-bottom: 35px;
    }
    .section_divertissement button {
        width: 150px;
        height: 50px;
        font-size: 15px;
    }
    .division_section_divertissement {
        margin-top: -109px; 
    }
    .division_section_divertissement img{
        height: 110px;
    }





    .container_questions {
        margin-bottom: 41px;
    }
    .section_questions_and_answers{
        padding-top: 29px;
    }

    .section_questions_and_answers .container {
        width: 580px;
    }

    .text_questions_and_answers h1 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .text_questions_and_answers p {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .box_question p {
        font-size: 14px;
    }
    .answer {
        font-size: 11px;
    }
    .box_question img {
        width: 18px;
        height: 18px;
    }






    .section_location .container_one, .container_two {
        width: 580px;
    }
    .text_location h1 {
        font-size: 30px;
    }   
    .text_location p {
        font-size: 20px;    
    }

    .mapBox {
        height: 400px;
    }
    .container_two {
        margin-top: 10px;
    }

    .container_two h1 {
        font-size: 20px; 
    }
    .button_uber, .button_waze {
        width: 150px;
        height: 43px;   
    }
    .buttons_location h2 {
        font-size: 15px;
    }
    .button_uber img, .button_waze img {
        width: 27px;
        margin-right: 8px;
    }
    .button_uber h1, .button_waze h1 {
        font-size: 25px;
    }
    .buttons_location {
        width: 467px;
        margin: 10px 0px 40px 0px;
    }



    footer .container {
        width: 580px;
    } 
    .copyright_box {
        width: 580px;
    }
    .footer_box {
        margin: 10px 0px 10px 0px;
    }
    .footer_box .logo img {
        width: 131px;
        height: 63px;
    }
    .footer_redes {
        width: 420px;
    }
    .footer_button {
        width: 150px;
    }
    .footer_button h1 {
        font-size: 10px;
    }
    .footer_button img {
        width: 27px;
        height: 27px;
        margin-right: 5px;
    }

    .copyright_box {
        font-size: 8px;
    }
    .copyright_box span {
        font-size: 8px;
    }
}



@media (max-width:512px) {
    
    body{
        overflow-x: hidden;
    }
    header{
        height: 50px;
    }
    .box_header a img  {
        width: 50px;
        height: 50px;
        margin-left: 0px;
        margin-top: 5px;
    }
    .box_header img {
        width: 40px;
        height: 21px;
        cursor: pointer;
    }
    .box_header{
        width: 370px;
        height: 50px;
    }
    .section_home {
        margin-top: 50px;
        height: 330px;
    }
    .home_box_container{
        width: 370px;
    }
    .home_box_container .text_home {
        margin-top: -90px;
    }
    .home_box_container .text_home h1 {
        font-size: 50px;
        margin-bottom: 21px;
    }
    .home_box_container p {
        width: 370px;
        font-size: 25px;
        margin-top: -25px;
    }
    .container_home h2 {
        font-size: 10px;
        margin-left: 9px;
        display: none;
    }
    .home_box_container .home_networks {
        width: 100%;
        height: 69px;
        margin-top: -50px;
        margin: -59px 0px 0px 0px;
        border: none;
        position: relative;
        align-items: start;
        padding-top: 20px;
        z-index: 1;
    }
    .home_box_container .home_networks img {
        width: 35px;
        height: 35px;
    }
    .home_box_container .home_networks h1 {
        font-size: 10px;
        display: none;
    }

    .division_section{
        margin-top: -39px;
    }

    .section_find_out_more .container{
        width: 370px;
        flex-direction: column-reverse;
    }
    .section_find_out_more .right_side {
        padding-left: 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -50px;
    }
    .section_find_out_more .right_side h1 {
        font-size: 36px;
        margin-bottom: 25px;
    }
    .section_find_out_more .right_side p {
        width: 294px;
        font-size: 18px;
        
    }

    .section_find_out_more .left_side .slide_image_box {
        width: 100%;
        height: 250px;
        margin-top: 40px;
    }

    .section_find_out_more .left_side h1 {
        width: 100%;
        font-size: 25px;
        margin-bottom: 25px;
    }
    .section_find_out_more .left_side p {
        width: 290px;
        font-size: 18px;
    }
    .section_find_out_more .right_side button {
        display: none;
    }


    .mobilebutton button {
        display: block;
        width: 150px;
        height: 50px;
        border-radius: 9px;
        background: linear-gradient(90deg, #0096DC 0%, #3ACBC7 100.09%);
        border: none;
        box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.25);
        margin-top: 0px;
        margin-bottom: 20px;

        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        cursor: pointer;
    }
    .division_section img {
        height: 40px;
        position: relative;
        z-index: 2;
    }


    .section_accommodation .container {
        width: 370px;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section_accommodation .container .show_accomodation{
        flex: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px;
    }
    .section_accommodation .container .show_accomodation button {
        display: none;
    }
    .section_accommodation .container .show_accomodation h1 {
        font-size: 36px;
        margin-bottom: 25px;
    }
    .section_accommodation .container .show_accomodation p {
        width: 210px;
        font-size: 18px;
    }
    .section_accommodation .container .box_images{
        flex: none;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction:row;
        margin: 45px 0px 50px 0px;
    }
    .section_accommodation .container .box_images .image_1 {
        width: 150px;
        height: 200px;
        border-radius: 0px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.524);
    }
    .section_accommodation .container .box_images .image_2 {
        flex: 1;
        height: 200px;
        border-radius: 0px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.524);
        margin: 0px;
    }









    /* Restante */

    .section_divertissement .container {
        width: 370px;
    }
    .text_divertissement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text_divertissement h1 {
        width: 370px;
        font-size: 36px;
        margin-bottom: 40px;
        text-align: center;
    }
    .text_divertissement p {
        font-size: 18px;
        text-align: center;
    }
    .container_informations {
        margin-top: -45px;
    }

    .informations_box, .informations_box:nth-child(odd) {
     flex-direction: column;
     align-items: center;
    }
    .informations_box .image_informations {
        width: 100%;
    }
    .informations_box .image_informations img {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
    }
    .informations_box .text_box_informations{
        width: 300px;
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .informations_box .text_box_informations h1 {
        font-size: 25px;
    }
    .informations_box .text_box_informations p {
        width: 298px;
        font-size: 19px;
        height: auto;
        margin-top: -1px;
        margin-bottom: 35px;
    }
    .section_divertissement button {
        width: 150px;
        height: 50px;
        font-size: 15px;
        margin-top: -21px;
        margin-bottom: 27px;
    }
    .informations_box .text_box_informations .line_information {
        width: 187px;
        height: 1px;
        background-color: white;
        margin-top: -28px;
    }
    .line_more {
        display: none;
    }
    






    .section_questions_and_answers .container {
        width: 370px;
    }

    .text_questions_and_answers h1 {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .text_questions_and_answers p {
        font-size: 20px;
        margin-bottom: 50px;
        text-align: center;
    }

    .box_question p {
        width: 280px;
        text-align: start;
        font-size: 13px;
    }
    .answer {
        width: 250px;
        font-size: 12px;
    }
    .box_question img {
        width: 18px;
        height: 18px;
    }
    






    .section_location .container_one, .container_two {
        width: 370px;
    }
    .text_location h1 {
        height: 36px;
        font-size: 36px;
    }   
    .text_location p {
        font-size: 20px;    
    }

    .mapBox {
        height: 400px;
    }
    .container_two {
        margin-top: 10px;
    }

    .container_two h1 {
        font-size: 20px; 
    }
    .button_uber, .button_waze {
        width: 120px;
        height: 43px;   
    }
    .buttons_location h2 {
        font-size: 15px;
    }
    .button_uber img, .button_waze img {
        width: 27px;
        margin-right: 8px;
    }
    .button_uber h1, .button_waze h1 {
        font-size: 25px;
    }
    .buttons_location {
        width: 300px;
        margin: 10px 0px 40px 0px;
    }



    footer .container {
        width: 370px;
    } 
    .copyright_box {
        width: 370px;
    }
    .footer_box {
        flex-direction: column-reverse;
        margin: 10px 0px 10px 0px;
    }
    .footer_box .logo img {
        width: 131px;
        height: 63px;
    }
    .footer_redes {
        width: 300px;
        margin-bottom: 25px;
    }
    .footer_button {
        width: 150px;
    }
    .footer_button h1 {
        display: none;
    }
    .footer_button img {
        width: 27px;
        height: 27px;
        margin-right: 5px;
    }

    .copyright_box {
        font-size: 8px;
    }
    .copyright_box span {
        font-size: 8px;
    }   
    
}

@media (max-width:375px) { 
    .box_header{
        width: 300px;
    }

    .home_box_container{
        width: 300px;
    }

    .home_box_container p {
        width: 300px;
    }
    .section_find_out_more .container{
        width: 300px;
    }
    .section_divertissement .container{
        width: 300px;
    }
    .text_divertissement h1 {
        width: 300px;
    }
    .section_questions_and_answers .container{
        width: 300px;
    }
    .section_location .container_one, .container_two {
        width: 300px;
    }
    footer .container {
        width: 300px;
    } 
    .copyright_box {
        width: 300px;
    }



    .section_find_out_more .left_side .slide_image_box {
        width: 100%;
        height: 220px;
        margin-top: 40px;
    }
    .section_accommodation .container {
        width: 300px;
    }
    .section_accommodation .container .box_images .image_1 {
        width: 120px;
    }
    .informations_box .image_informations img {
        height: 200px;
    }
    .home_box_container p {
        font-size: 20px;
        width: 286px;
    }

    .section_home {
        margin-top: 50px;
        height: 305px;
    }
    .home_box_container .home_networks {
    height: 62px;
    margin: -82px 0px 0px 0px;
    }   


}






















