body{
    margin: 0px;
    border: 0px;
    overflow-x:hidden;
}
header{
    background-color: #FFF;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.box_header {
    width: 1057px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_header a img  {
    width: 64px;
    height: 64px;
    margin-left: -20px;
}
.box_header img {
    width: 43px;
    height: 27px;
    cursor: pointer;
}



.box_loading{
    width: 100vw;
    height: 4px;
    background-color: rgba(58, 203, 199, 0.60);
}
.loading{
    width: 200px;
    height: inherit;
    background-color: #0096DC;
}






.section_home{
    margin-top: 74px;
    width: 100%;
    height: 700px;
    background-image: url(./images/HomeImage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(47, 47, 47);
}
.filter_home {
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.31);
    display: flex;
    justify-content: center;
}
.home_box_container{
    width: 1057px;
    height: 626px;
    flex-direction: column;
}
.home_box_container h1 {
    font-size: 80px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.44);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
.home_box_container p {
    width: 523px;
    margin-top: -40px;
    color: #FFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.70);
    font-family: Poppins;
    font-size: 36px;
    font-weight: 300;
    line-height: normal;
}

.container_home {
    width: auto;
    height: 290px;
    display: flex;
    align-items: center;
}
.container_home .text_home{
    width: 1034px;
}
.container_home h2 {
    margin-left: 433px;
    transform: rotate(-90deg);
    height: 23px;
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.home_box_container .home_networks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 60px;
    margin-top: 220px ;
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
}
.home_networks img {
    width: 33px;
    height: 33px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.122));
}
.home_networks a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.home_networks h1  {
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    margin-left: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.122);
}






/* Seção descubra mais*/








.division_section {
    width: 100%;
    height: auto;
}
.division_section img{
    width: inherit;
    height: 75px;
}







.section_find_out_more{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #3ACBC7 0%, #0096DC 100%);
}
.division_section{
    margin-top: -70px;
}

.section_find_out_more .container{
    width: 1057px;
    display: flex;
    padding-top: 50px;
}
.section_find_out_more .left_side {
    flex: 1;
    margin: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_find_out_more .left_side .slide_image_box {
    width: 500px;
    height: 380px;
    margin-top: 63px;
    border-radius: 2px;
    background-image: url(./images/HomeImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -5px 10px 13px rgba(0, 0, 0, 0.68);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_find_out_more .left_side .slide_image_box .arrow_left{
    width: 36px;
    height: 65px;
    background-color: #0000008A;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_find_out_more .left_side .slide_image_box .arrow_right{
    width: 36px;
    height: 65px;
    background-color: #0000008A;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_1, .arrow_2{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border-left: 6px solid white;
    border-top: 6px solid white;
}

.arrow_1{
   transform: rotate(-45deg);
   margin-left: 10px;
}
.arrow_2{
    transform: rotate(135deg);
    margin-right: 10px;
}











.section_find_out_more .left_side h1 {
    width: 351.732px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}
.section_find_out_more .left_side .line-green {
    width: 134px;
    height: 2px;
    border-radius: 5px;
    background-color: #3ACBC7;
    margin-top: -20px;
}
.section_find_out_more .left_side p {
    width: 412px;
    color: #E0F5F8;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}











.section_find_out_more .right_side {
    flex: 1;
    margin: 0px 30px 0px 30px;
}

.section_find_out_more .right_side h1 {
    width: 560px;
    color: #FFF;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
}
.section_find_out_more .right_side p {
    width: 510px;
    margin-top: -20px;
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 42px;
    font-weight: 500;
}
.section_find_out_more .right_side button {
    width: 275px;
    height: 80px;
    border-radius: 9px;
    background: linear-gradient(90deg, #0096DC 0%, #3ACBC7 100.09%);
    border: none;
    box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.25);
    margin-top: 50px;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}


.division_section_white{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 1000px 50px 1000px ;
    border-color: transparent white white transparent;
}
